<!DOCTYPE html>
<html>
<head>
    <title>Polar Vista - Home</title>
</head>
<body>
    <h1>Featured Safaris</h1>
    <ul>
        {% for safari in featured_safaris %}
            <li>
                <h2>{{ safari.title }} ({{ safari.duration_days }} days)</h2>
                {% if safari.cover_image %}
                    <img src="{{ safari.cover_image.url }}" width="300">
                {% endif %}
                <p>{{ safari.overview }}</p>
                <p>Places to visit:</p>
                <ul>
                    {% for place in safari.places.all %}
                        <li>
                            <a href="{% url 'place_detail' place.pk %}">{{ place.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>